@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Thin"), local("League Spartan-Thin"),
        url("../assets/fonts/LeagueSpartan-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan ExtraLight"), local("League Spartan-ExtraLight"),
        url("../assets/fonts/LeagueSpartan-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Light"), local("League Spartan-Light"),
        url("../assets/fonts/LeagueSpartan-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Regular"), local("League Spartan-Regular"),
        url("../assets/fonts/LeagueSpartan-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Medium"), local("League Spartan-Medium"),
        url("../assets/fonts/LeagueSpartan-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Semi Bold"), local("League Spartan-SemiBold"),
        url("../assets/fonts/LeagueSpartan-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Bold Italic"), local("League Spartan-Bold"),
        url("../assets/fonts/LeagueSpartan-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Extra Bold"), local("League Spartan-ExtraBold"),
        url("../assets/fonts/LeagueSpartan-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: local("League Spartan Black"), local("League Spartan-Black"),
        url("../assets/fonts/LeagueSpartan-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}